<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>


<StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton>
    <Label class="page-icon fa" text="Image URL"></Label>
    <TextField [(ngModel)]="imageURL" hint="Enter some text and click the button" autocorrect="false" 
        class="input input-border"></TextField>
    <!-- >> button-tap-event-html -->
    <Button class="btn btn-primary btn-active" id="button" text="Save" (tap)="onTap($event)"></Button>
    <!-- << button-tap-event-html -->
</StackLayout>